.menu{
    width: auto;
    border-bottom: 1px solid #E0E0DA;
}

.logo{
    margin-bottom: -10px;
    height: 90px;
    margin-top: 50px;
    width: 190px;  
    margin-left: 1050px;

}

.container{
    margin: 30px;
    margin-left: 970px;  
}

.titulo{
   font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-indent:60px;
}

.face{
    padding-left: -20px;
    border: none;
    width: 435px;
    height: 50px;
    background-color: #3b5998;
    border-radius: 500px;
    border-bottom-color: #3b5998;
    margin-bottom: 10px;
}

a.face_link{
    font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    padding-bottom: -96px;
    width: 100.08px;
    margin-bottom: 150px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
}

img.face_logo{
    margin-bottom: -8px;
    width: 28px;
}

.bot{
    margin-top: -4px;
}

.apple{
    margin-top: -2px;
    border: none;
    width: 435px;
    height: 50px;
    background-color: #000;
    border-radius: 500px;
    border-bottom-color: #000; 
}


.applelogo{
    margin-left: -40px;
    height:29px;
    width: 42px;
    margin-bottom: -10px;
}

.apple_link{ 
    font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-bottom: 110px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-left: 4px;
}

.botoez{
    margin-left: -25px;
}
.lembrar{
    margin-left:  -30px;    
}

form{
width: 78px;
    margin-top: 10px;
}

.separador{
    margin-left: -15px;
    line-height: 1px;
    border-top: 1px solid #E0E0DA;
    width: 425px;  
    margin-top: 20px;
    position: absolute;
    font-weight: 700;
}

.division{
    font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0 10px;
    position: absolute;
    margin-top: 11px;
    font-weight: 800;
    background-color: #fff;
    text-transform: uppercase;
    margin-left: 160px;
}

.dado1{
    height: 30px;
    margin-top: 80px;
    width: 420px;
}

.dado2{
    height: 30px;
    margin-top: 10px;
    width: 420px;
}

input{    
    margin-top: 20px;
}

.entra{
    margin-top: -50px;
    margin-left: 230px;
    border: none;
    width: 200px;
    height: 45px;
    background-color: #1DB954;
    border-radius: 500px;
    border-bottom-color: #1DB954;

}

.lembrar{
     font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
margin-left: -2px;
}


.login_link{ 
    letter-spacing: 1px;
     margin-bottom: 110px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-left: 4px;
}

.lembrete{
    width: 200px;
}

.essenha{
    width: 250px;
    margin-left: 30px;
    margin-top: 20px;
    text-indent:100px;
}

.forg-senha{
    font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: -25px;
    text-decoration: none;
    text-align: center;
    color: #1DB954;
    text-indent: 25px;
}

.inputs{
    margin-top: -40px;
    margin-left: -15px;
}


.botoess{
    padding-top: -20px;
}

.botao_entrar{
margin-top: -10px;
}

.botao_incricao{
 margin-left: -70px;
}

.inscricao{
    margin-top: 70px;
    width: 200px;
    margin-left: 120px;
}

.labele{
    font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.inscreve{
    margin-left: -130px;
    box-shadow:inset 0 0 0 2px #616467; /*Efeito de sombra em volta de algo*/
    border: none;
    width: 435px;
    height: 50px;
    background-color: transparent;
    border-radius: 500px;
    border-color:ccc;
}

.cadastrar_link{
font-family: Circular, spotify-circular,   Helvetica, Arial, sans-serif;
text-decoration: none;
text-transform: uppercase;
color:#616467;
font-weight: 700;
}

.apple_link:hover{
    cursor: pointer;
}